@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

/* Top Nav Starts */
header{
    position: relative;
}

.navbar{
    margin-top: 1.5%;
    padding-bottom: 2rem;
    display: flex;    
    margin-left: 330px;
}
.header .navbar a{
    font-size: 18px;
    text-align: center;
}

.header .navbar a:hover{
    border-radius: 50px;
    transition: 0.5s;
}    

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}
/* Top Nav Ends */

/* Left Nav Starts */
nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 200%;
    left: 0;
    width: 280px;
    background: rgb(161, 210, 154);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
 
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
    width: 270px;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: black;
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover{
    background: #eee;
}
/* Left Nav Ends */

/* Our Favourites Section Starts */
.fav{
    margin-left: 330px;
    margin-bottom: 2%;
    border: 2px solid lightgrey;
    border-radius: 2%;
    width: 900px;
    padding: 1.5%;
    justify-content: center;
}

.fav h2{
    font-size: 25px;
    padding-bottom: 2%;
}

.music{
    display: flex;
    position: relative;
    gap: 8%;
    justify-content: center;
    cursor: pointer;
}

.music .card{
  width: 220px;
  height: 254px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 7px 7px 14px #bebebe,
             -15px -15px 30px #ffffff;
}

.song img{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-top: 30px;
    margin-left: 35px;
    margin-bottom: 20px;
}

.song span{
    font-size: 20px;
    margin-left: 35px;
}
/* Our Favourites Section Ends */

/* More Songs Starts */
.fav2{
    margin-left: 330px;
    padding-bottom: 3rem;
    border: 2px solid lightgrey;
    border-radius: 2%;
    width: 900px;
    padding: 1.5%;
    justify-content: center;
}

.fav2 h2{
    font-size: 25px;
    padding-bottom: 2%;
}
/* More Songs Ends */

/* Right Music Section Starts */
.topartist{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 200%;
    right: 0;
    width: 200px;
    border-left: 2px ;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
/* Right Music Section Ends */